{:deps {com.monkeyci/app {:mvn/version "0.19.9"}
        diehard/diehard {:mvn/version "0.12.0"}}

 :paths ["src"]
 
 :aliases
 ;; clj -X:test
 {:test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}}
   :extra-paths ["test" "dev-resources"]
   :exec-fn monkey.test/all}

  ;; clj -X:test:junit
  :junit
  {:exec-fn monkey.test/junit}

  ;; clj -X:test:watch
  :watch
  {:exec-fn monkey.test/watch}

  ;; clj -X:jar
  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/plugin-junit.jar"
               :version [[:env "LIB_VERSION"] "0.2.1-SNAPSHOT"]
               :lib com.monkeyci/plugin-junit
               :scm
               {:url "https://github.com/monkey-projects/plugin-junit"}
               :pom-data
               [[:licenses
                 [:license
                  [:name "MIT"]
                  [:url "https://mit-license.org/"]]]]}}
  
  ;; clj -X:publish
  :publish
  {:exec-fn monkey.build/jar+deploy}}}
